.header {
  padding: 10px 15px;
  height: 60px;
  @media screen and (max-width: 479px) {
    position: relative;
  }
  @media screen and (min-width: 480px) {
    padding-top: 21px;
    padding-bottom: 21px;
    height: 80px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
.header-logo {
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  @media screen and (min-width: 768px) {
    margin-right: 93px;
  }
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-container {
  @media screen and (max-width: 479px) {
    display: none;
    &.is-open {
      display: block;
    }
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    background-color: $white;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    z-index: 101;
  }
  @media screen and (min-width: 480px) {
    display: flex;
    width: 100%;
  }
}
.menu-btn {
  padding: 0px;
  width: 40px;
  height: 40px;
  .icon-close {
    display: none;
  }
  &:hover {
    .icon-menu {
      fill: $accent-cl;
    }
  }
  &:hover {
    .icon-close {
      fill: $accent-cl;
    }
  }
  @media screen and (min-width: 480px) {
    display: none;
  }
}
.menu-btn.is-open {
  .icon-close {
    display: block;
  }
  .icon-menu {
    display: none;
  }
}
.menu {
  text-align: center;
  display: inline-block;
  margin-bottom: 60px;

  .item {
    position: relative;
  }
  .item:not(:last-child) {
    margin-bottom: 40px;
    @media screen and (min-width: 480px) {
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: 480px) {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    margin-left: auto;
    .item:not(:last-child) {
      margin-right: 50px;
    }
  }
  @media screen and (min-width: 768px) {
    margin-left: 0px;
  }
}

.link.active-page {
  color: $accent-cl;
}
.active-page::after {
  content: '';
  position: absolute;
  bottom: -8px;
  display: flex;
  align-items: flex-end;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: $accent-cl;
}

.header-contacts {
  display: block;
  @media screen and (min-width: 480px) {
    margin-left: auto;
  }
  .item {
    text-align: center;
    font-size: 18px;
    line-height: 1.166;
    @media screen and (min-width: 480px) {
      font-size: 12px;
      text-align: start;
    }
  }
  .item:not(:last-child) {
    margin-bottom: 16px;
    @media screen and (min-width: 480px) {
      margin-bottom: 10px;
    }
    @media screen and (min-width: 768px) {
      margin-bottom: 0px;
      margin-right: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
.icon-link {
  @media screen and (min-width: 480px) {
    display: flex;
    align-items: center;
  }
}
.mail-icon {
  width: 14px;
  height: 10px;
  margin-right: 8px;
  fill: currentColor;
  @media screen and (min-width: 768px) {
    width: 16px;
    height: 12px;
  }
}
.phone-icon {
  width: 10px;
  height: 14px;
  @media screen and (min-width: 768px) {
    width: 10px;
    height: 16px;
  }
  margin-right: 8px;
  fill: currentColor;
}
